@keyframes throw {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(-100%, 0, 0);
    }
    40% {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes runaway {
    0% {
        left: 0;
        opacity: 1;
        transform: rotate(0);
    }
    25% {}
    50% {}
    75% {}
    100% {
        left: 400%;
        transform: rotate(-360deg);
        opacity: 0;
    }
}

button {
    -webkit-appearance: none;
    padding: 0 100px;
    border: 0;
    position: relative;
    line-height: 95px;
    outline: 0;
}

button:after {
    transition: ease-in 1000ms;
}

button.anim {
    animation: throw 1000ms;
}
button.anim:after {
    animation: runaway 2000ms;
}
button:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 95px;
    height: 95px;
    background: url(http://www.freeiconspng.com/uploads/iconmonstr-email-4-icon-27.png);
    background-size: cover;
}
